<footer>
    <div class="container">
        <div class="rights">
            <p>Copyright &copy; 2015</p>

            <p><a href="http://voronkovd.ru" target="_blank">voronkovd.ru</a></p>
        </div>
    </div>
</footer>