<div class="pre-loader">
    <div class="load-con">
        <img src="{{ MEDIA_URL }}{{ clinic.logo }}" class="animated fadeInDown" alt="{{ clinic.name }}">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>