<br/>
<br/>
<br/>
{% load cropping %}
<style>

</style>
<section id="reviews" style="padding-bottom: 50px; padding-top: 50px;">
    <div class="container">
        <div class="section-heading section-heading-fix inverse scrollpoint sp-effect3">
        </div>
        <div class="row">
            <div class="col-md-12 scrollpoint sp-effect3">
                <div class="review-filtering">
                    <div class="review">
                        <div class="row">
                            {% if slider1 %}
                                {% for slide in slider1 %}
                                    <div class="col-sm-4">
                                        <div style="width: 370px;">
                                            <div id="slide-popup-{{ slide.id }}" class="white-popup mfp-hide">
                                                <div class="text-center cabinet-white-popup">
                                                    <img class="cabinet-white-popup-image"
                                                         src="{{ MEDIA_URL }}{{ clinic.logo }}"
                                                         alt="{{ clinic.name }}"/>
                                                    <h4 class="cabinet-white-popup-h">{{ slide.title }}</h4>
                                                </div>
                                                <div style="max-height: 600px;overflow: auto;padding-right: 10px;">
                                                    {{ slide.description|safe }}
                                                </div>

                                            </div>
                                            <a title="{{ slide.title }}" class="show"
                                               href="#slide-popup-{{ slide.id }}">
                                                <div class="feedback-box">
                                                    <div class="text-center">
                                                        <h4 style="margin-top: 0px;">{{ slide.title }}</h4>
                                                    </div>
                                                    <div class="message feedback-message"
                                                         style="font-size: 15px;color: #909090;text-align: justify;">
                                                        {{ slide.anons }}
                                                    </div>
                                                    <div class="text-center feedback-image" style="margin-top: 10px;">
                                                        <img style="border-radius: 4px; margin: 0 auto;"
                                                             src="{% cropped_thumbnail slide "cropping" %}">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="review rollitin">
                        <div class="row">
                            {% if slider2 %}
                                {% for slide in slider2 %}
                                    <div class="col-sm-4">
                                        <div style="width: 370px;">
                                            <div id="slide-popup-{{ slide.id }}" class="white-popup mfp-hide">
                                                <div class="text-center cabinet-white-popup">
                                                    <img class="cabinet-white-popup-image"
                                                         src="{{ MEDIA_URL }}{{ clinic.logo }}"
                                                         alt="{{ clinic.name }}"/>
                                                    <h4 class="cabinet-white-popup-h">{{ slide.title }}</h4>
                                                </div>
                                                <div style="max-height: 600px;overflow: auto;padding-right: 10px;">
                                                    {{ slide.description|safe }}
                                                </div>

                                            </div>
                                            <a title="{{ slide.title }}" class="show"
                                               href="#slide-popup-{{ slide.id }}">
                                                <div class="feedback-box">
                                                    <div class="text-center">
                                                        <h4 style="margin-top: 0px;">{{ slide.title }}</h4>
                                                    </div>
                                                    <div class="message feedback-message"
                                                         style="font-size: 15px;color: #909090;text-align: justify;">
                                                        {{ slide.anons }}
                                                    </div>
                                                    <div class="text-center feedback-image" style="margin-top: 10px;">
                                                        <img style="border-radius: 4px; margin: 0 auto;"
                                                             src="{% cropped_thumbnail slide "cropping" %}">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="review rollitin">
                        <div class="row">
                            {% if slider3 %}
                                {% for slide in slider3 %}
                                    <div class="col-sm-4">
                                        <div style="width: 370px;">
                                            <div id="slide-popup-{{ slide.id }}" class="white-popup mfp-hide">
                                                <div class="text-center cabinet-white-popup">
                                                    <img class="cabinet-white-popup-image"
                                                         src="{{ MEDIA_URL }}{{ clinic.logo }}"
                                                         alt="{{ clinic.name }}"/>
                                                    <h4 class="cabinet-white-popup-h">{{ slide.title }}</h4>
                                                </div>
                                                <div style="max-height: 600px;overflow: auto;padding-right: 10px;">
                                                    {{ slide.description|safe }}
                                                </div>

                                            </div>
                                            <a title="{{ slide.title }}" class="show"
                                               href="#slide-popup-{{ slide.id }}">
                                                <div class="feedback-box">
                                                    <div class="text-center">
                                                        <h4 style="margin-top: 0px;">{{ slide.title }}</h4>
                                                    </div>
                                                    <div class="message feedback-message"
                                                         style="font-size: 15px;color: #909090;text-align: justify;">
                                                        {{ slide.anons }}
                                                    </div>
                                                    <div class="text-center feedback-image" style="margin-top: 10px;">
                                                        <img style="border-radius: 4px; margin: 0 auto;"
                                                             src="{% cropped_thumbnail slide "cropping" %}">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>