@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: #666666;
    -webkit-font-smoothing: antialiased;
}

a {
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

div.content {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #666666;
}

header .navbar-default {
    background: none;
    border: none;
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav {
    padding-top: 55px;
}

header .navbar-default ul.navbar-nav li a {
    font-weight: 400;
    font-size: 16px;
    padding: 7px 20px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:after {
    content: '';
    width: 32px;
    background: none;
    height: 4px;
    position: absolute;
    bottom: 2px;
    z-index: 99999;
    left: 20px;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
    color: #ffffff;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:hover {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:hover:after {
    background: #ffffff;
}

header .navbar-default ul.navbar-nav li a.getApp {
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a.getApp:after {
    display: none;
}

header .navbar-default ul.navbar-nav li a:focus {
    color: #ffffff;
}

header .navbar-default .navbar-brand {
    height: auto;
    padding: 0;
}

header .navbar-default.scrolled {
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

header .navbar-default.scrolled .navbar-brand {
    padding: 15px 20px;
}

header .navbar-default.scrolled .navbar-brand img {
    width: auto;
    max-height: 50px;
    margin: -10px
}

header .navbar-default.scrolled ul.navbar-nav {
    padding-top: 15px;
}

.scrollpoint {
    opacity: 0;
}

.scrollpoint.active {
    opacity: 1 \0;
}

.hanging-phone {
    position: absolute;
    right: 0;
    z-index: 0;
    bottom: -70px;
}

.section-heading {
    margin: 40px 0 0px;
    text-align: center;
}

.section-heading-fix {
    margin: 60px 0 80px;
    text-align: center;
}

.divider {
    margin-bottom: 50px;
}

.section-heading h1 {
    display: inline-block;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 0;
}

.section-heading p {
    font-size: 18px;
    color: #999999;
    font-weight: 300;
}

.section-heading .divider:after {
    content: "";
    position: relative;
    height: 4px;
    width: 60px;
    display: block;
    text-align: center;
    margin: 13px auto;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
}

.section-heading.inverse h1,
.section-heading.inverse p {
    color: #ffffff;
}

.section-heading.inverse .divider:after {
    background: #ffffff;
}

section#about {
    position: relative;
}

section#about .about-item {
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    color: #999999;
}

section#about .about-item i.fa {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 35px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 104px;
}

section#features .media i.fa {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 20px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 2.6em;
    text-align: center;
}

section#features .media .media-heading {
    padding-top: 10px;
    font-weight: 300;
}

section#features .media .media-body {
    color: #999999;
}

section#features .media.feature {
    margin-top: 25px;
}

section#features .media.feature:first-child {
    margin-top: 0;
}

section#features img {
    margin: 0 auto 20px;
}

section#reviews {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section#reviews .review-filtering {
    margin: 20px 0 100px 0;
}

section#reviews .review-filtering .review .review-person {
    width: 100%;
}

section#reviews .review-filtering .review .review-person img {
    width: 110px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin: 10px auto;
}

section#reviews .review-filtering .review .review-comment {
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding: 50px 40px 20px;
    position: relative;
}

section#reviews .review-filtering .review .review-comment h3 {
    margin-bottom: 15px;
}

section#reviews .review-filtering .review .review-comment p {
    font-size: 16px;
    color: #f1ffdb;
}

section#reviews .review-filtering .review .review-comment p span {
    margin-left: 10px;
}

section#reviews .review-filtering .review .review-comment:after {

}

section#reviews .review-filtering .review .review-person,
section#reviews .review-filtering .review .review-comment {
    float: left;
    color: #336799;
    background: white;
}

section#reviews .review-filtering .slick-dots {
    bottom: -80px;
}

section#reviews .review-filtering .slick-dots li button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

section#reviews .review-filtering .slick-dots li button:before {
    display: none;
}

section#screens .slider {
    margin: 50px 0;
}

section#screens .slider div img {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
    display: inline;
}

section#screens .slider div h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

section#screens .slider .slick-dots li button {
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
}

section#screens .slick-prev,
section#screens .slick-next {
    width: 50px;
    height: 50px;
    top: 44%;
}

section#screens .slick-slide {
    text-align: center;
}

section#screens .slick-prev:before {
    content: "\f104";
}

section#screens .slick-next:before {
    content: "\f105";
}

section#screens .slick-prev:before,
section#screens .slick-next:before {
    font-size: 34px;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
    line-height: 45px;
    color: #CCC;
    border: 2px solid #CCC;
    width: 50px;
    display: inline-block;
    height: 50px;
    text-align: center;
}

section#screens .filter {
    text-align: center;
}

section#screens .filter a {
    display: inline-block;
    padding: 7px 20px;
    text-decoration: none;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
    margin: 10px 5px;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

/* demo video Section */
section#demo .video-container {
    padding: 20px;
    border: 1px solid #b3b3b3;
    min-height: 450px;
    overflow: hidden;
}

section#demo iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Get app Section */
section#getApp {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 70px 0;
}

section#getApp .platforms {
    margin: 5px auto 120px auto;
    text-align: center;
}

section#getApp .platforms .btn {
    margin-right: 10px;
    margin-bottom: 20px;
}

/* support section */
section#support {
    padding: 0 0 150px 0;
}

section#support .media {
    margin-bottom: 10px;
}

section#support .media i.fa {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 10px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 1.9em;
    text-align: center;
}

section#support .media .media-heading {
    padding-top: 15px;
    font-weight: 300;
}

section#support .media .media-heading a {
    font-weight: 400;
}

/* footer section */
footer {

    text-align: center;
}

footer a > img {
    width: 100px;
}

footer .social {
    display: block;
    margin-top: 30px;
}

footer .social a {
    margin: 0 8px;
    padding: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

footer .social a i {
    width: 1em;
}

footer .rights {
    margin-top: 30px;
}

footer .rights a {
    text-decoration: underline;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    font-weight: bold;
}

footer .rights a:hover {
    text-decoration: none;
}

section {
    position: relative;
    padding-bottom: 90px;
}

/* Common style for pseudo-elements */
section::before,
section::after {
    position: absolute;
    content: '';
    pointer-events: none;
    overflow: hidden;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.tp-caption {
    font-family: 'Lato', Arial !important;
    -webkit-font-smoothing: antialiased;
}

.tp-caption.large_white_bold {
    color: #ffffff;
    font-size: 65px;
    font-weight: 400;
}

.tp-caption.large_white_light {
    color: #ffffff;
    font-size: 65px;
    font-weight: 400;
    font-weight: 300;
}

.btn {
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
    border-radius: 3em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 5px 25px;
}

.btn.btn-primary {
    border: 2px solid #ffffff;
    background: none;
    color: #ffffff;
}

.btn.btn-primary:hover {
    color: #ffffff;
}

.btn.btn-default {
    border: none;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* IE10+ */
    background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.btn.btn-lg {
    padding: 10px 25px;
}

.btn:hover {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

form .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    padding: 10px 20px;
    color: #cfcfcf;
    border: 2px solid #cccccc;
    font-weight: 300;
}

form textarea.form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    height: auto;
    line-height: normal;
}

@media screen and (max-width: 640px) {
    .logo {
        width: 100px;
        height: auto;
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
    }

    .contact-details {
        margin-top: 20px;
    }

    header .navbar-default {
        padding: 20px;
    }

    header .navbar-default .navbar-toggle {
        margin-top: 0px;
        margin-right: 0px;
        background: none;
        border: 2px solid #ffffff;
        color: #ffffff;
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        -ms-border-radius: 5em;
        -o-border-radius: 5em;
        border-radius: 5em;
    }

    header .navbar-default .navbar-toggle:hover,
    header .navbar-default .navbar-toggle:focus {
        background: none;
    }

    header .navbar-default ul.navbar-nav {
        padding-top: 0;
        margin: 0;
    }

    header .navbar-default ul.navbar-nav li a {
        padding: 10px;
        text-align: center;
    }

    header .navbar-default ul.navbar-nav li a.getApp {
        background: none !important;
        -webkit-border-radius: 0em;
        -moz-border-radius: 0em;
        -ms-border-radius: 0em;
        -o-border-radius: 0em;
        border-radius: 0em;
    }

    header .navbar-default .navbar-collapse {
        border-color: transparent;
    }

    header .navbar-default.scrolled .navbar-collapse {
        border-color: transparent;
    }

    header .navbar-default.scrolled ul.navbar-nav {
        padding-top: 0;
        margin: 0;
    }

    header .navbar-default.scrolled .navbar-toggle {
        margin-top: 11px;
        margin-right: 20px;
        background: none;
        border: 2px solid #ffffff;
        color: #ffffff;
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        -ms-border-radius: 5em;
        -o-border-radius: 5em;
        border-radius: 5em;
    }
}

.pre-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    display: none;
}

.pre-loader .load-con {
    margin: 20% auto;
    position: relative;
    text-align: center;
}

.spinner {
    margin: 50px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

header {
    background: #66cdcc;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cdcc), color-stop(100%, #336799));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* IE10+ */
    background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e0e0e0, GradientType=1);
}

header .navbar-default ul.navbar-nav li a {
    color: #ffffff;
    background: none;
}

header .navbar-default ul.navbar-nav li a.getApp {
    color: #3c79b4;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
    /* IE10+ */
    background: linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e0e0e0, GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

header .navbar-default ul.navbar-nav li a.getApp:hover {
    color: #4081bf;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* IE10+ */
    background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:hover {
    color: #ffffff;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

header .navbar-default.scrolled {
    border-bottom: 3px solid #336799;
}

header .navbar-default.scrolled ul.navbar-nav li a {
    color: #336799;
}

header .navbar-default.scrolled ul.navbar-nav li a:hover {
    color: #336799;
}

header .navbar-default.scrolled ul.navbar-nav li a:hover:after {
    background: #336799;
}

header .navbar-default.scrolled .navbar-brand {
    background: none;
}

section .section-heading .divider:after {
    background: #336799;
}

section#about .about-item i.fa {
    border: 2px solid #66cdcc;
    color: #66cdcc;
}

section#about .about-item:hover i.fa {
    color: #ffffff;
    background: #66cdcc;
}

section#about .about-item:hover h3 {
    color: #66cdcc;
}

section#features {
    background: #f6f6f6;
}

section#features header h1:after {
    background: #66cdcc;
}

section#features .media i.fa {
    border: 2px solid #66cdcc;
    color: #66cdcc;
}

section#features .media:hover i.fa {
    color: #ffffff;
    background: #66cdcc;
}

section#features .media:hover h3 {
    color: #66cdcc;
}

section#features .media.active i.fa {
    color: #ffffff;
    background: #66cdcc;
}

section#features .media.active .media-heading {
    color: #66cdcc;
}

section#reviews {
    background: none;

}

section#reviews header {
    color: #ffffff;
}

section#reviews header h1:after {

}

section#reviews .review-filtering .review .review-person img {
    border: 3px solid #ffffff;
}

section#reviews .review-filtering .review .review-comment {

}

section#reviews .review-filtering .review .review-comment h3 {
    color: #feffef;
}

section#reviews .review-filtering .review .review-comment p span i {
    color: #66cdcc;
}

section#reviews .review-filtering .review .review-comment:after {

}

section#reviews .review-filtering .slick-dots li button {
    background: #ffffff;
    border: 2px solid #ffffff;
}

section#reviews .review-filtering .slick-dots li.slick-active button {
    background: none;
}

section#screens header h1:after {
    background: #66cdcc;
}

section#screens .slider div img {
    border: 2px solid #e5e5e5;
}

section#screens .slider div h4 {
    color: #999999;
}

section#screens .slider .slick-dots li button {
    background: #999999;
}

section#screens .slider .slick-dots li.slick-active button {
    background: #66cdcc;
}

section#screens .filter a {
    border: 2px solid #cccccc;
    color: #999999;
}

section#screens .filter a:hover {
    color: #ffffff;
    background: #66cdcc;
    border-color: #66cdcc;
}

section#screens .filter a.active {
    color: #ffffff;
    background: #66cdcc;
    border-color: #66cdcc;
}

/* demo video Section */
section#demo {
    background: #f6f6f6;
}

section#demo header h1:after {
    background: #66cdcc;
}

/* Get app Section */
section#getApp {
    background: url("../img/freeze/bk-freeze-ga.jpg");
}

section#getApp header {
    color: #ffffff;
}

section#getApp header h1:after {
    background: #ffffff;
}

section#getApp .platforms .media {
    border: 2px solid #ffffff;
    color: #ffffff;
}

section#getApp .platforms .media a i {
    color: #ffffff;
}

section#getApp .platforms .media a div.media-body {
    color: #ffffff;
}

section#getApp .platforms .media:hover {
    background: #ffffff;
}

section#getApp .platforms .media:hover a i,
section#getApp .platforms .media:hover a div.media-body {
    color: #66cdcc;
}

/* support section */
section#support header h1:after {
    background: #66cdcc;
}

section#support .media i.fa {
    border: 2px solid #66cdcc;
    color: #66cdcc;
}

section#support .media a {
    color: #66cdcc;
}

section#support .media:hover i.fa {
    color: #ffffff;
    background: #66cdcc;
}

section#support .media:hover h3 {
    color: #66cdcc;
}

/* footer section */
footer {
    background: #66cdcc;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cdcc), color-stop(100%, #336799));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* IE10+ */
    background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e0e0e0, GradientType=1);
}

footer .social a {
    border: 2px solid #ffffff;
}

footer .social a i {
    color: #ffffff;
}

footer .social a:hover {
    background: #ffffff;
}

footer .social a:hover i {
    color: #66cdcc;
}

footer .rights {
    color: #ffffff;
}

footer .rights a {
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
}

.navbar-toggle {
    background-color: #CCC;
    border: 1px solid rgba(0, 0, 0, 0);
}

.btn.btn-primary {
    color: #336799;
    border-color: #336799;
    border-radius: 4px !important;
}

.btn.btn-primary:hover {
    color: #ffffff;
    background: #336799;
    border-color: #336799;
}

.btn.btn-primary.inverse {
    color: #ffffff;
    border-color: #ffffff;
}

.btn.btn-primary.inverse:hover {
    color: #ffffff;
    background: #66cdcc;
    border-color: #66cdcc;
}

.btn.btn-default {
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* IE10+ */
    background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: #336799;
}

.btn.btn-default:hover {
    color: #336799;
}

form .form-control:focus {
    border-color: #66cdcc;
    color: #999999;
}

@media screen and (max-width: 640px) {
    header .navbar-default .navbar-toggle:hover,
    header .navbar-default .navbar-toggle:focus {
        background: none;
    }

    header .navbar-default ul.navbar-nav li a {
        color: #ffffff;
        border-bottom: 1px solid #376fa4;
    }

    header .navbar-default ul.navbar-nav li a.getApp {
        color: #ffffff;
    }

    header .navbar-default ul.navbar-nav li a:after {
        display: none;
    }

    header .navbar-default ul.navbar-nav li a:hover {
        color: #66cdcc;
    }

    header .navbar-default .navbar-collapse {
        background: #336799;
    }

    header .navbar-default.scrolled {
        background: #336799;
    }

    header .navbar-default.scrolled ul.navbar-nav li a {
        color: #ffffff;
    }

    header .navbar-default.scrolled ul.navbar-nav li a:hover {
        color: #66cdcc;
    }
}

.pre-loader {

}

.media-heading a:hover, .media-heading a:focus, .media-heading a:visited {
    text-decoration: none;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px 0px 20px 20px;
    width: auto;
    max-width: 900px;
    margin: 20px auto;
    min-height: 500px;
}

.change-clinic {
    display: none;
}

.scrolled .change-clinic {
    display: block;
    float: left;
    margin: 25px 0px 0px 0px;
    font-size: 10px;
    text-decoration: underline;
}

.feedback-box {
    background: #FFFFFF;
    padding: 25px;
    margin: 13px;
    text-align: left;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    z-index: 5;
    height: 290px;
}
.feedback-image {
    height: 214px;
}
.feedback-message {
    height: 75px;
}

.feedback-box .message {
    font-size: 11px;;
    color: #909090;
}

.feedback-box .client {
    margin-top: 30px;
    height: 73px;
    position: relative;
}

.feedback-box .quote {
    float: left;
    font-size: 45px;
    line-height: 80px;
}

.feedback-box .client-info {
    float: left;
    margin-right: 18px;
    padding-top: 15px;
}

.feedback-box .client-info .client-name {
    font-family: 'Homemade Apple', serif;
    color: #404040;
}

.feedback-box .client-info .client-company {
    font-size: 13px;
    margin-top: -3px;
}

.feedback-box .client-image {
    float: right;
    width: 73px;
    height: 73px;
    overflow: hidden;
    border: 3px solid #f6f6f6;
    background: white;
}

.show:hover, .show:active, .show:visited, .show, .show:focus {
    text-decoration: none;
}

.project-info {
    position: absolute;
    left: 30px;
    top: 15px;
    right: 5px;
    bottom: 15px;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 25%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all ease .25s;
    transition: all ease .25s;
    color: white;
    cursor: hand;
}

.slick-prev {
    left: -40px !important;
}

.slick-next {
    right: -40px !important;
}

.about-page {
    text-align: justify;
    font-size: 18px !important;
}

.about-page-image {
    float: right;
    margin: 10px 0 10px 15px;
}

.about-items-div {
    margin: 0px;
    padding: 0px;
}

*:focus {
    outline: none;
}

.mfp-close-btn-in .mfp-close {
    padding-top: 0px;
    color: white;
}

.cabinet-closed-div {
    padding-left: 0px;
    padding-right: 0px;
}

.cabinet-info-div {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    padding: 30%;
    text-align: center;
    opacity: 0;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    color: white;
    width: 370px;
    background: rgba(0, 0, 0, 0.498039);
    border-radius: 4px;
}

.page-info-div {
    position: absolute;
    left: 20px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 20%;
    text-align: center;
    opacity: 0;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    color: white;
    width: 350px;
    background: rgba(0, 0, 0, 0.498039);
    border-radius: 4px;
}

.project-details-div {
    font-size: 18px;
}

.back-cabinet {
    border-radius: 4px;

}

#cabinet-open {
    display: none;
}

.cabinets {
    display: none;
}

.cabinets-image {
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 25px;
    border-radius: 4px;
}

.cabinet-ul {
    list-style-type: none;
}

.cabinet-white-popup {
    height: 60px;
    background: #66cdcc;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cdcc), color-stop(100%, #336799));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* IE10+ */
    background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e0e0e0, GradientType=1);
    margin: -30px 0px 20px -20px;
    color: white;
}

.cabinet-white-popup-image {
    height: 60px;
    float: left;
    margin-left: 20px;
}

.cabinet-white-popup-h {
    color: white;
    padding-top: 10px;
    float: right;
    padding-right: 60px;
}

.class-display-none {
    display: none !important;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.logo {
    margin: -30px;
}