{% load cropping %}
{% load thumbnail %}
<section id="about">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3">
            <h1>О нас</h1>
            <p>{{ clinic.name }}</p>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-12 text-left about-page">
                    {{ clinic.description|safe }}
                </div>
            </div>
            <div class="row">
                <div class="about-items">
                    {% if images %}
                        {% for image in images %}
                            <div class="about-items-div">
                                <a class="show-image" href="{% cropped_thumbnail image "cropping_full" %}">
                                    <img src="{% cropped_thumbnail image "cropping" %}" alt="{{ clinic.name }}"/>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>