<section id="contact" class="doublediagonal">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3">
            <h1>Контакты</h1>

            <p>Записаться на прием:</p>

            <div class="divider"></div>
        </div>
        <div id="show-message-contact" style="display: none;"></div>
        <div class="row">
            <div class="col-md-5">
                {{ clinic.map |safe }}
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-8 col-sm-8 scrollpoint sp-effect1">
                        <form id="contact-form" role="form" action="/contact/" method="POST">
                            <div class="form-group">
                                <input id="input-name" type="text" name="name" class="form-control"
                                       placeholder="Ваше имя">
                                <span id="input-name-errors" class="errors"></span>
                            </div>
                            <div class="form-group">
                                <input id="input-phone" type="text" name="phone" class="form-control"
                                       placeholder="Ваш телефон">
                                <span id="input-phone-errors" class="errors"></span>
                            </div>
                            <input type="hidden" name="id" value="{{ clinic.id }}">

                            <div class="form-group">
                                    <textarea id="input-content" cols="30" name="content" rows="10" class="form-control"
                                              placeholder="Желаемая дата, время и специалист"></textarea>
                                <span id="input-content-errors" class="errors"></span>
                            </div>
                            <button id="submit-form_button" class="btn btn-primary btn-lg">Отправить
                            </button>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-4 contact-details scrollpoint sp-effect2">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-clock-o fa-2x"></i>
                            </a>

                            <div class="media-body">
                                <h4>{{ clinic.timetable }}</h4>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-map-marker fa-2x"></i>
                            </a>

                            <div class="media-body">
                                <h4 class="media-heading">{{ clinic.address }}</h4>
                            </div>
                        </div>

                        <div class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-phone fa-2x"></i>
                            </a>

                            <div class="media-body">
                                <h4 class="media-heading">{{ clinic.phone }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>