{% load cropping %}
{% load thumbnail %}
<section id="pages">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3">
            <h1>Пациентам</h1>

            <div class="divider"></div>
        </div>

        <div id="page-closed">
            {% if pages %}
                <div class="row">
                    {% for page in pages %}
                        <div id="page-popup-{{ page.id }}" class="white-popup mfp-hide">
                            <div class="text-center cabinet-white-popup">
                                <img class="cabinet-white-popup-image"
                                     src="{{ MEDIA_URL }}{{ clinic.logo }}" alt=""/>
                                <h4 class="cabinet-white-popup-h">{{ page.title }}</h4>
                            </div>
                            <div style="max-height: 600px;overflow: auto;padding-right: 10px;">
                                {{ page.description|safe }}</div>
                        </div>

                        <div class="col-md-4 text-center" style="margin-bottom: 30px;">
                            <a class="show" href="#page-popup-{{ page.id }}" href="#">
                                <img width="100%" src="{% cropped_thumbnail page "cropping" %}"
                                     alt="{{ page.title }}"/>

                                <div class="project-info page-info-div">
                                    <div class="project-details">
                                        <div style="font-size: 18px;"
                                             class="details white-text project-details">{{ page.title }}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</section>