{% load cropping %}
{% load thumbnail %}
<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>
<section id="services">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3">
            <h1>Кабинеты</h1>

            <div class="divider"></div>
        </div>
        <div id="cabinet-closed" class="row">
            {% if cabinets %}
                {% for cabinet in cabinets %}
                    <div class="col-md-4 text-center cabinet-closed-div">
                        <a class="show-me-more-cabinet" id="{{ cabinet.id }}" href="#">
                            <img width="100%" src="{% cropped_thumbnail cabinet "cropping" %}"
                                 alt="{{ cabinet.name }}"/>

                            <div class="project-info cabinet-info-div">
                                <div class="project-details">
                                    <div style="font-size: 18px;"
                                         class="details white-text project-details">{{ cabinet.name }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div id="cabinet-open" class="row">
            {% if cabinets %}
                {% for cabinet in cabinets %}
                    <div class="cabinets" id="cabinet-{{ cabinet.id }}">
                        <div class="col-md-6 text-left">
                            <div style="margin-left: 20px; margin-right: 20px;">
                                <div class=" {% if cabinet.sliders.all %}service_cabinets{% endif %}">
                                    <div>
                                        <img src="{% thumbnail cabinet.image 800x600 %}" class="cabinets-image"
                                             alt="{{ cabinet.name }}"/>
                                    </div>

                                    {% if cabinet.sliders.all %}
                                        {% for slide in cabinet.sliders.all %}
                                            <div>
                                                <img src="{% thumbnail slide.image 800x600 %}" class="cabinets-image"
                                                     alt="{{ cabinet.name }}"/>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-left">
                            <div class="text-center"><h4>{{ cabinet.name }}</h4></div>
                            {% if cabinet.services.all %}
                                <ul class="cabinet-ul">
                                    {% for service in cabinet.services.all %}
                                        <div id="service-popup-{{ service.id }}" class="white-popup mfp-hide">
                                            <div class="text-center cabinet-white-popup">
                                                <img class="cabinet-white-popup-image"
                                                     src="{{ MEDIA_URL }}{{ cabinet.clinic.logo }}"
                                                     alt="{{ clinic_one.name }}"/>
                                                <h4 class="cabinet-white-popup-h">{{ service.name }}</h4>
                                            </div>
                                            {{ service.description|safe }}
                                        </div>
                                        <li>
                                            <a title="{{ service.title }}" class="show"
                                               href="#service-popup-{{ service.id }}">
                                                {{ service.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6 text-left">
                        </div>
                        <div class="col-md-6 text-left">
                            <a class="btn btn-primary btn-lg back-cabinet" id="{{ cabinet.id }}" href="#">Назад</a>
                        </div>

                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>