{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="ru" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="ru" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>{{ clinic.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="{% static 'public/' %}assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'public/' %}assets/css/animate.css">
    <link rel="stylesheet" href="{% static 'public/' %}assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'public/' %}assets/css/slick.css">
    <link rel="stylesheet" href="{% static 'public/' %}assets/js/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="{% static 'public/' %}assets/css/magnific-popup.css">
    <link rel="stylesheet" href="{% static 'public/' %}assets/css/styles.css">
    <script type="text/javascript" src="{% static 'public/' %}assets/js/modernizr.custom.32033.js"></script>

</head>
<body>
{% include 'public/html/preloader.html' %}
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="fa fa-bars fa-lg"></span>
                </button>
                <a class="navbar-brand" href="{% url 'app.views.clinics' clinic.id %}" title="{{ clinic.name }}">
                    <img id="big-logo-img" src="{{ MEDIA_URL }}{{ clinic.logo }}" alt="{{ clinic.name }}" class="logo"
                         alt="{{ clinic.name }}"/>
                    <img id="small-logo-img" src="{{ MEDIA_URL }}{{ clinic.logo_s }}" alt="{{ clinic.name }}"
                         class="logo class-display-none"
                         alt="{{ clinic.name }}"/>
                </a>
            <span class="change-clinic">
                <a id="change-clinic-id" class="show" href="#change-clinic" title="{{ clinic.name }}">Изменить</a>
            </span>
            </div>
            <div id="change-clinic" class="white-popup mfp-hide">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h4>Выберите клинику:</h4>
                    </div>
                    {% if clinics %}
                        {% for clinic_one in clinics %}
                            <div class="col-lg-6 text-center">
                                <a class="clinic-set" href="{% url 'app.views.clinics' clinic_one.id %}"
                                   title="{{ clinic_one.name }}">
                                    <img src="{{ MEDIA_URL }}{{ clinic_one.logo_s }}" alt="{{ clinic_one.name }}"/>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about" title="О нас">О нас</a></li>
                    {% if cabinets %}
                        <li><a href="#services" title="Кабинеты">Кабинеты</a></li>
                    {% endif %}
                    {% if specialists %}
                        <li><a href="#screens" title="Специалисты">Специалисты</a></li>
                    {% endif %}
                    {% if pages %}
                        <li><a href="#pages" title="Пациентам">Пациентам</a></li>
                    {% endif %}
                    <li><a target="_blank" href="{{ MEDIA_URL }}{{ clinic.price }}" title="Прайс">Прайс</a></li>
                    <li><a href="#contact" title="Контакты">Контакты</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% include 'public/html/slider.html' with clinic=clinic %}
</header>
<div class="wrapper">
    {% include 'public/_about.html' %}
    {% if cabinets %}
        {% include 'public/_services.html' %}
    {% endif %}
    {% if specialists %}
        {% include 'public/_specialists.html' %}
    {% endif %}
    {% if pages %}
        {% include 'public/_pages.html' with clinic=clinic %}
    {% endif %}
    {% include 'public/_contact.html' with clinic=clinic %}
    {% include 'public/html/footer.html' %}
</div>
<script src="{% static 'public/' %}assets/js/jquery-1.11.1.min.js"></script>
<script src="{% static 'public/' %}assets/js/jquery-ui.min.js"></script>
<script src="{% static 'public/' %}assets/js/bootstrap.min.js"></script>
<script src="{% static 'public/' %}assets/js/slick.min.js"></script>
<script src="{% static 'public/' %}assets/js/placeholdem.min.js"></script>
<script src="{% static 'public/' %}assets/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script src="{% static 'public/' %}assets/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="{% static 'public/' %}assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="{% static 'public/' %}assets/js/jquery.magnific-popup.min.js"></script>
<script src="{% static 'public/' %}assets/js/scripts.js"></script>
<script>
    $(document).ready(function () {
        $('.about-items').slick({
            slidesToShow: 4,
            slidesToScroll: 4,
            dots: false,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    infinite: true,
                    dots: true
                }
            }, {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            }, {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }]
        });

        $('.service_cabinets').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: false,
            arrows: true,
            autoplay: true,
            autoplaySpeed: 2000
        });

        $('.project-info').hover(function () {
            $(this).css('opacity', 1);
        }, function () {
            $(this).css('opacity', 0);
        });
        function createCookie(name, value, days) {
            var expires;

            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            } else {
                expires = "";
            }
            document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = encodeURIComponent(name) + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) === 0) return decodeURIComponent(c.substring(nameEQ.length, c.length));
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name, "", -1);
        }

        $('.clinic-set').on('click', function (e) {
            createCookie('clinic', true, 1);
            return true;
        });

        var coock = readCookie('clinic');
        if (coock == null) {
            jQuery.magnificPopup.open({
                items: {src: '#change-clinic'}, type: 'inline', midClick: true
            }, 0);
        }

        function sho_me(str) {
            $(".show-me-more-" + str).on("click", function () {
                var id = $(this).attr('id');
                $('#' + str + '-closed').hide('slide', 500, function () {
                    $('#' + str + '-open').show('drop', 400);
                    $('#' + str + '-' + id).show();
                });
                return false;
            });
        }

        sho_me('cabinet');
        sho_me('page');

        $('.back-specialist').on('click', function () {
            var id = $(this).attr('id');
            $('#specialist-open').hide('drop', 400, function () {
                $('#specialist-' + id).hide();
                $('#specialist-closed').show('slide', 500);

            });

            return false;
        });

        $('.back-cabinet').on('click', function () {
            var id = $(this).attr('id');
            $('#cabinet-open').hide('drop', 400, function () {
                $('#cabinet-' + id).hide();
                $('#cabinet-closed').show('slide', 500);

            });

            return false;
        });
        $('.back-page').on('click', function () {
            var id = $(this).attr('id');
            $('#page-open').hide('drop', 400, function () {
                $('#page-' + id).hide();
                $('#page-closed').show('slide', 500);

            });

            return false;
        });
        $('.show').magnificPopup({type: 'inline', midClick: true, removalDelay: 300, mainClass: 'mfp-fade'});
        $('.show-image').magnificPopup({
            type: 'image', removalDelay: 300, mainClass: 'mfp-fade', gallery: {
                enabled: true
            }
        });
        appMaster.preLoader();
        $('#submit-form_button').on('click', function (e) {
            e.preventDefault();
            var self_object = $(this);
            var form = $('#contact-form');
            var div_message = $('#show-message-contact');
            $.ajax({
                type: "POST",
                url: form.attr("action"),
                data: form.serialize(),
                beforeSend: function () {
                    self_object.attr("disabled", "disabled");
                    $('.errors').html('');
                    $('.error').removeClass('error');
                    div_message.html();
                    div_message.hide();
                },
                success: function (data) {

                    if (data['status'] == true) {
                        html = '<h4 style="color:#366799;text-align:center;">' + data['message'] + '</h4>';
                        div_message.html(html);
                        div_message.show();
                    } else {
                        self_object.removeAttr("disabled");
                        $.each(data['errors'], function (index, value) {
                            $('#input-' + index).addClass("error");
                            $('#input-' + index + '-errors').html(value);
                        });
                    }

                }
            });
        });
    });
</script>
</body>
</html>