{% extends "base.html" %}
{% block title %}404 - Страница не найдена{% endblock %}
{% block content %}
    <section id="error" class="container text-center">
        <h1>404 - Страница не найдена</h1>

        <p>Страница, которую вы ищете не найдена.</p>
        <a class="btn btn-primary" href="{% url 'app.views.index' %}">На главную</a>
    </section>
{% endblock %}