<h4>Здравствуйте!</h4>
<p>На сайте появилась новая заявка:</p>
<ul>
    <li><b>Контактное лицо:</b> {{ model.cleaned_data.name }}</li>
    <li><b>Контактный телефон:</b> {{model.cleaned_data.phone }}</li>
    <li><b>Текст запроса:</b> {{ model.cleaned_data.content }}</li>
</ul>
<p style="text-align: right;">С уважением, Администрация.</p>